@{
  Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
  <h1>Welcome to Eau Claire's Salon</h1>
  <hr>
</div>

<p class="btn btn-light btn-lg btn-block">@Html.ActionLink("See All Clients", "Index", "Clients", null, new { style = "color:#403C23"})</p>
<p class="btn btn-light btn-lg btn-block">@Html.ActionLink("See All Stylists", "Index", "Stylists", null, new { style = "color:#403C23"})</p>
