@{
  Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
  <h1>Welcome to Eau Claire's Salon</h1>
</div>

<p class="btn btn-dark">@Html.ActionLink("See All Clients", "Index", "Clients", null, new { style = "color:white"})</p>
<p class="btn btn-dark">@Html.ActionLink("See All Stylists", "Index", "Stylists", null, new { style = "color:white"})</p>
